<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myDog"
          class="com.yehorychev.springe2e.ioc.Dog"
          scope="singleton">
    </bean>

    <bean id="myCat"
          class="com.yehorychev.springe2e.ioc.Cat"
          scope="prototype">
    </bean>

    <!--    <context:annotation-config/>
        <context:component-scan base-package="com.yehorychev.springe2e"/>-->

</beans>